<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home"><i class="fa fa-smile-o" aria-hidden="true"></i> UTN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="home"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/upload"><i class="fa fa-upload" aria-hidden="true"></i> Subir</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/identificar"><i class="fa fa-indent" aria-hidden="true"></i> Identificar</a>
        </li>       
      </ul>
    </div>
  </nav>
